.allert-container {
  position: absolute;
  height: 100%;
  width: 100%;
  cursor: not-allowed;
}
.div-allert {
  background-color: rgb(47, 255, 175, 1);
  color: black;

  padding: 10px;

  border-radius: 5px;
}
