<div class="page">
  <div class="component action-header">
    <h2 class="text-center">todos</h2>
  </div>
  <div class="component create-area">
    <create-todo />
  </div>
  <div class="component main-items">
    <date-filter (onFilter)="getTodos($event)" (onReset)="reset()" />

    <completed-filter
      (onFilter)="filterTodos($event)"
      [filterValue]="todosStore.filter()"
    />

    <div class="component data-frames">
      @if (todosStore.todos().length>0) {
      <div class="component flex">
        <!-- headers of the table -->
        <div class="sn flex-10">sn</div>
        <div class="product flex-5"></div>

        <div class="product flex-70">todo</div>
        <div class="product flex-10">status</div>
        <div class="product flex-5"></div>
      </div>
      @for (item of todosStore.displayedTodos(); track $index) {
      <div class="component flex data-frame align-center">
        <div class="sn flex-10">{{ $index + 1 }}</div>
        <div class="expiry flex-5">
          <input
            type="checkbox"
            name="completed"
            [checked]="item.completed"
            [value]="item.completed"
            [id]="$index + '_'"
            (change)="complete(item._id)"
          />
        </div>

        <div class="product flex-70">{{ item.title }}</div>

        <div class="expiry flex-10">
          {{ item.completed ? "completed" : "pending" }}
        </div>
        <div class="expiry flex-5">
          <cancel-button (click)="deleteTodo(item._id)" />
        </div>
      </div>
      } }@else {
      <div>no todos to show.. add more</div>
      }
    </div>
  </div>
</div>
