<div class="">
  <form class="component" [formGroup]="form" (ngSubmit)="addExamQns()">
    <!-- <h2 class="text-center">add new subject</h2> -->
    <div class="flex flex-center">
      <div class="control flex-20">
        <!-- <label for="store">&nbsp; project</label> -->
        <select
          class="input-primary w-full"
          formControlName="subject"
          id="subject"
          name="subject"
        >
          <option value="" selected disabled>select a subject</option>
          @for (item of stuydToolStore.subjects(); track $index) {
          <option [value]="item.name">{{ item.name }}</option>
          }
        </select>
      </div>
      <div class="control flex-20">
        <!-- <label for="store">&nbsp; project</label> -->
        <select
          name="book"
          id="book"
          class="input-primary"
          formControlName="book"
          class="input-primary w-full"
        >
          <option value="" selected disabled>select a book</option>
          @for (item of stuydToolStore.books(); track $index) {
          <option [value]="item.name">{{ item.name }}</option>
          }
        </select>
      </div>
      <div class="control flex-20">
        <!-- <label for="store">&nbsp; project</label> -->
        <select
          name="topic"
          id="topic"
          class="input-primary"
          formControlName="topic"
          class="input-primary w-full"
        >
          <option value="" selected disabled>select a topic</option>
          @for (item of stuydToolStore.topics(); track $index) {
          <option [value]="item.name">{{ item.name }}</option>
          }
        </select>
      </div>
      <div class="control flex-20">
        <!-- <label for="store">&nbsp; project</label> -->
        <input
          type="number"
          name="questions"
          id="questios"
          class="input-primary"
          formControlName="questions"
          class="input-primary w-full"
        />
      </div>

      <div class="control">
        <button class="btn-primary--round" [disabled]="form.invalid">
          <fa-icon [icon]="plusIcon"></fa-icon>
        </button>
      </div>
    </div>
  </form>
  <div class="component main-items">
    <div class="component data-frames">
      @if (stuydToolStore.examCart().length>0) { @for (item of
      stuydToolStore.examCart(); track $index) {
      <div class="component">
        <p>question {{ $index + 1 }}</p>
        <exam-question [question]="item" (onSelect)="setAnswer($event)" />
      </div>
      }
      <div class="component flex flex-center">
        <button class="btn-primary" (click)="createExam()">save exam</button>
      </div>
      }@else {
      <div>no questions to show.. add entries</div>
      }
    </div>
  </div>
</div>
