.article-container {
  background-color: rgb(70, 83, 87);
  color: white;
}
.component {
  background-color: inherit;
}
.principal-heading {
  font-size: xx-large;
  margin-left: 10px;
}
.secondary-heading {
  font-size: large;
  margin-left: 10px;
}
.author {
  color: goldenrod;
}
