.main-items {
  background-color: rgb(241, 241, 221);
}
.data-frame:hover {
  cursor: pointer;
  background-color: lightgreen;
}
.project-description {
  padding: 5px;
  background-color: rgb(24, 24, 32);
  color: lightgrey;
}
