<div class="page main-page hide-scroll">
  <div class="container menu">
    <dropdown-links [title]="'app links'" [links]="links" [open]="true" />

    <!-- @if (isAdmin()) {
      <dropdown-links
        [open]="true"
        [links]="[
          { name: 'admin', url: '/admin' },
          { name: 'statistics', url: '/statistics' }
        ]"
        [title]="'app links'"
      ></dropdown-links>
      } -->
  </div>

  <div class="page main-content">
    <!-- @for (info of inventoryStore.infos(); track $index) {
      <home-info [info]="info" />
      } -->
  </div>
</div>
