.informatique {
  background-color: rgb(192, 212, 223);
  border: 1px solid white;
  margin-left: 2px;
  margin-right: 2px;
  padding: 10px;
  border-radius: 5px;
}
.remove-btn {
  justify-self: flex-end;
}
form {
  background-color: lightblue;
}
// input {
//   display: inline;
// }
label {
  display: block;
}
