<form class="component" [formGroup]="form" (ngSubmit)="createPlan()">
  <!-- <h2 class="text-center">add new project</h2> -->
  <div class="flex flex-center">
    <div class="control flex-20">
      <!-- <label for="store">&nbsp; project</label> -->
      <select
        class="input-primary w-full"
        formControlName="project"
        id="project"
        name="project"
      >
        <option value="" selected disabled>select a Project</option>
        @for (item of projectStore.projects(); track $index) {
        <option [value]="item.title">{{ item.title }}</option>
        }
      </select>
    </div>
    <div class="control flex-70">
      <textarea
        name="plan"
        id="plan"
        rows="1"
        formControlName="plan"
        placeholder="add new plan"
        class="input-primary w-full"
      ></textarea>
    </div>

    <div class="control">
      <button class="btn-primary--round" [disabled]="form.invalid">
        <fa-icon [icon]="plusIcon"></fa-icon>
      </button>
    </div>
  </div>
</form>
